# Application
PORT=3000

# CORS
CORS_ORIGIN=http://localhost:4200

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/codeflix?schema=public"

# Keycloak Configuration
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=codeflix
KEYCLOAK_CLIENT_ID=api-catalogo
KEYCLOAK_CLIENT_SECRET=your-client-secret-here
